:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--black);
  background: #f5f6f8;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

:root {
  --black: #3b434e;
  --gray-light: #ebebeb;
  --white: white;
  --primary: #7653fc;
  --primary-hover: #572dff;
  --ghost-hover: rgb(235, 235, 235);
  --red: #fc836d;
  --green: #1dc37e;
  --green-light: #c8f8e4;
  --font-family: "Noto Sans KR", sans-serif;
}

.root {
  padding: 20px;
  height: 100vh;
  background-color: rgb(247, 247, 247);
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
